@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: linear-gradient(300deg, #e7eaed, #bfc0c0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    input {
        background-color: white;
        border: none;
        border-radius: 25px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        font-family: inherit;
        font-size: 1rem;
        padding: 1rem;
        min-width: 300px;

        &:focus {
            outline: none;
        }
    }

    main {
        background: linear-gradient(300deg, #9ca2a9, #90cfcf);
        border-radius: 5px;
        margin: 10px 5px;

        .weather {
            font-size: 2rem;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;


            h2 {
                margin-bottom: 0;
                display: flex;
                align-items: center;

                img {
                    transform: scale(0.7);
                }
            }

        }

    }


}